workflows/01-trigger.json
{
  "id": "aa511114-263d-4c20-a629-5093c6199122",
  "name": "Circle of Care - 01 - Trigger",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Poll Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Lists every top-level folder under the project root, compares against\n// the processed-projects ledger, and returns only folders not yet seen.\n// This node never touches file contents -- names and existence only.\n\nconst fs = require('fs');\nconst path = require('path');\n\nconst PROJECT_ROOT = $env.CIRCLEOFCARE_PROJECT_ROOT || 'Working';\nconst LEDGER_PATH = path.join('Shared', 'processed_projects.json');\n\nlet ledger = [];\ntry {\n  const raw = fs.readFileSync(LEDGER_PATH, 'utf8');\n  ledger = JSON.parse(raw);\n} catch (e) {\n  // No ledger yet on a fresh install -- treat as empty, not an error.\n  ledger = [];\n}\n\nconst ledgerSet = new Set(ledger);\n\nlet entries = [];\ntry {\n  entries = fs.readdirSync(PROJECT_ROOT, { withFileTypes: true });\n} catch (e) {\n  // Project root missing or unreadable -- surface as zero results,\n  // not a thrown exception that would kill the whole poll cycle.\n  return [];\n}\n\nconst newProjects = entries\n  .filter(e => e.isDirectory())\n  .map(e => e.name)\n  .filter(name => !ledgerSet.has(name))\n  // Reject anything that isn't a plain alphanumeric/underscore/hyphen\n  // folder name before it ever becomes a project identifier downstream --\n  // same discipline as the schema field-name allowlist (A3).\n  .filter(name => /^[A-Za-z0-9_-]{1,64}$/.test(name));\n\nreturn newProjects.map(name => ({ json: { project_prefix: name } }));\n"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Find Unprocessed Projects",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b1c2d3e4-0001-4000-8000-000000000010",
              "leftValue": "={{ $json.project_prefix }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "New Project Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -200,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PLACEHOLDER_DECODE_WORKFLOW_ID",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "project_prefix": "={{ $json.project_prefix }}"
          }
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Hand Off to Decode",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        20,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Records this project as claimed by a Decode run the moment the\n// handoff fires -- before Decode itself does anything -- so a project\n// can never be picked up twice by overlapping poll cycles. This node\n// never re-derives the ledger from a live scan; it only appends.\n\nconst fs = require('fs');\nconst path = require('path');\n\nconst LEDGER_PATH = path.join('Shared', 'processed_projects.json');\n\nlet ledger = [];\ntry {\n  ledger = JSON.parse(fs.readFileSync(LEDGER_PATH, 'utf8'));\n} catch (e) {\n  ledger = [];\n}\n\nif (!ledger.includes($input.item.json.project_prefix)) {\n  ledger.push($input.item.json.project_prefix);\n}\n\nfs.writeFileSync(LEDGER_PATH, JSON.stringify(ledger, null, 2), 'utf8');\n\nreturn $input.item;\n"
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Mark As Claimed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        -100
      ]
    }
  ],
  "connections": {
    "Poll Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Find Unprocessed Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Unprocessed Projects": {
      "main": [
        [
          {
            "node": "New Project Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Project Found?": {
      "main": [
        [
          {
            "node": "Mark As Claimed",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Mark As Claimed": {
      "main": [
        [
          {
            "node": "Hand Off to Decode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
