workflows/06-contact-research.json
{
  "id": "be3f316f-055c-4e78-9997-4169b9c38479",
  "name": "Circle of Care - 06 - Contact Research",
  "nodes": [
    {
      "parameters": {},
      "id": "06000001-0000-4000-8000-000000000001",
      "name": "Start (from Derive Tier Packages)",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-1000, 0]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst contacts = JSON.parse(fs.readFileSync(path.join('Working', $json.project_prefix, 'contacts.json'), 'utf8'));\nreturn contacts.filter(c => c.valid_format).map(c => ({ json: { project_prefix: $json.project_prefix, ...c } }));\n"
      },
      "id": "06000001-0000-4000-8000-000000000002",
      "name": "Load Valid Contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, 0]
    },
    {
      "parameters": {
        "jsCode": "// SearXNG on-demand (B2): started here, stopped after. Idempotent\n// named-container cleanup first so an orphaned prior instance never\n// causes a port-bind collision, regardless of host OS.\nconst { execSync } = require('child_process');\ntry { execSync('docker stop circleofcare-searxng', { stdio: 'ignore' }); } catch (e) {}\ntry { execSync('docker rm circleofcare-searxng', { stdio: 'ignore' }); } catch (e) {}\nexecSync('docker run -d --name circleofcare-searxng -p 127.0.0.1:8888:8080 searxng/searxng', { stdio: 'ignore' });\nreturn $input.all();\n"
      },
      "id": "06000001-0000-4000-8000-000000000003",
      "name": "Start SearXNG (idempotent)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-600, 0],
      "executeOnce": true
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "06000001-0000-4000-8000-000000000004",
      "name": "One Contact At A Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-400, 0]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8888/search",
        "method": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "={{ '\"' + $json.organization + '\" public record' }}" },
            { "name": "format", "value": "json" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "06000001-0000-4000-8000-000000000005",
      "name": "Search Org Public Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-180, 0],
      "notes": "Payload is the literal org name plus 'public record' only -- no project data ever leaves the box (B2)."
    },
    {
      "parameters": {
        "jsCode": "// Deterministic pre-filter: top 3 snippets, URLs/metadata stripped,\n// compressed under 1,000 tokens BEFORE it ever reaches the model.\nconst results = ($json.results || []).slice(0, 3);\nconst compact = results.map(r => r.content || r.title || '').join(' ').slice(0, 4000);\nreturn [{ json: { ...($json), compact_snippet: compact } }];\n"
      },
      "id": "06000001-0000-4000-8000-000000000006",
      "name": "Pre-Filter Snippets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [40, 0]
    },
    {
      "parameters": {
        "url": "http://localhost:11434/api/generate",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"qwen2.5:1.5b-instruct-q4_K_M\", stream: false, prompt: \"Extract exactly one verifiable public-record fact about this organization from the snippet. If nothing verifiable exists, respond with an empty string. Snippet: \" + $json.compact_snippet }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "06000001-0000-4000-8000-000000000007",
      "name": "Extract One Fact (smaller model)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 0],
      "notes": "Smaller model, separate from the 3-4B builder -- narrow task, doesn't need the larger class (A14)."
    },
    {
      "parameters": {},
      "id": "06000001-0000-4000-8000-000000000008",
      "name": "Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [480, 0]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\ntry { execSync('docker stop circleofcare-searxng', { stdio: 'ignore' }); } catch (e) {}\ntry { execSync('docker rm circleofcare-searxng', { stdio: 'ignore' }); } catch (e) {}\nreturn $input.all();\n"
      },
      "id": "06000001-0000-4000-8000-000000000009",
      "name": "Stop SearXNG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, -140],
      "executeOnce": true
    }
  ],
  "connections": {
    "Start (from Derive Tier Packages)": { "main": [[{ "node": "Load Valid Contacts", "type": "main", "index": 0 }]] },
    "Load Valid Contacts": { "main": [[{ "node": "Start SearXNG (idempotent)", "type": "main", "index": 0 }]] },
    "Start SearXNG (idempotent)": { "main": [[{ "node": "One Contact At A Time", "type": "main", "index": 0 }]] },
    "One Contact At A Time": { "main": [[{ "node": "Search Org Public Record", "type": "main", "index": 0 }], [{ "node": "Stop SearXNG", "type": "main", "index": 0 }]] },
    "Search Org Public Record": { "main": [[{ "node": "Pre-Filter Snippets", "type": "main", "index": 0 }]] },
    "Pre-Filter Snippets": { "main": [[{ "node": "Extract One Fact (smaller model)", "type": "main", "index": 0 }]] },
    "Extract One Fact (smaller model)": { "main": [[{ "node": "Loop Back", "type": "main", "index": 0 }]] },
    "Loop Back": { "main": [[{ "node": "One Contact At A Time", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
