workflows/11-hold-release-processor.json
{
  "name": "Circle of Care - 11 - Hold-Release Processor",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "hours", "hoursInterval": 1 }] } },
      "id": "11000001-0000-4000-8000-000000000001",
      "name": "Hourly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1000, 0]
    },
    {
      "parameters": {
        "jsCode": "// Deadline clamp (A8): release = earlier of hold expiry (4 days,\n// uniform across free and paid paths) or 24h before the due date.\n// Never releases after the deadline renders it useless.\n\nconst fs = require('fs');\nconst path = require('path');\n\nlet allEntries = [];\ntry { allEntries = JSON.parse(fs.readFileSync(path.join('Shared', 'intake_log.json'), 'utf8')); } catch (e) {}\n\nconst ready = [];\nconst now = Date.now();\nconst HOLD_MS = 4 * 24 * 60 * 60 * 1000;\n\nfor (const entry of allEntries) {\n  if (!['nda_signed', 'payment_confirmed'].includes(entry.status)) continue;\n  if (entry.released) continue;\n\n  const holdStart = new Date(entry.status === 'payment_confirmed' ? entry.payment_confirmed_at : entry.nda_signed_at).getTime();\n  const holdExpiry = holdStart + HOLD_MS;\n\n  let dueDate = null;\n  try {\n    const doc = JSON.parse(fs.readFileSync(path.join('Working', entry.project_prefix, 'project_document.json'), 'utf8'));\n    dueDate = doc.deadline && doc.deadline.due_date_parsed ? new Date(doc.deadline.due_date_parsed).getTime() : null;\n  } catch (e) {}\n\n  const deadlineBuffer = dueDate ? dueDate - (24 * 60 * 60 * 1000) : Infinity;\n  const releaseAt = Math.min(holdExpiry, deadlineBuffer);\n\n  if (now >= releaseAt) {\n    ready.push(entry);\n  }\n}\n\nreturn ready.map(e => ({ json: e }));\n"
      },
      "id": "11000001-0000-4000-8000-000000000002",
      "name": "Find Hold-Expired Entries (clamped)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-780, 0]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst fs = require('fs');\nconst path = require('path');\n\nconst token = crypto.randomBytes(24).toString('hex');\nconst tier = $json.status === 'payment_confirmed' ? $json.tier_paid : 'lowest';\n\nlet tokens = [];\ntry { tokens = JSON.parse(fs.readFileSync(path.join('Shared', 'tokens.json'), 'utf8')); } catch (e) {}\ntokens.push({ token, project_prefix: $json.project_prefix, contact_hash: $json.contact_hash, tier, issued_at: new Date().toISOString() });\nfs.writeFileSync(path.join('Shared', 'tokens.json'), JSON.stringify(tokens, null, 2), 'utf8');\n\nreturn [{ json: { ...$json, token, tier } }];\n"
      },
      "id": "11000001-0000-4000-8000-000000000003",
      "name": "Mint Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-560, 0]
    },
    {
      "parameters": {
        "fromEmail": "hello@circleofcareacademy.org",
        "toEmail": "={{ $json.email }}",
        "subject": "Your deliverables are ready",
        "text": "={{ 'Access your package here: https://circleofcareacademy.org/' + $json.project_prefix + '-portal.php?c=' + $json.token }}"
      },
      "id": "11000001-0000-4000-8000-000000000004",
      "name": "Send Delivery Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [-340, 0]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nlet entries = JSON.parse(fs.readFileSync(path.join('Shared', 'intake_log.json'), 'utf8'));\nentries = entries.map(e => e.contact_hash === $json.contact_hash && e.project_prefix === $json.project_prefix ? { ...e, released: true, released_at: new Date().toISOString() } : e);\nfs.writeFileSync(path.join('Shared', 'intake_log.json'), JSON.stringify(entries, null, 2), 'utf8');\nreturn [{ json: $json }];\n"
      },
      "id": "11000001-0000-4000-8000-000000000005",
      "name": "Mark Released",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-120, 0]
    }
  ],
  "connections": {
    "Hourly": { "main": [[{ "node": "Find Hold-Expired Entries (clamped)", "type": "main", "index": 0 }]] },
    "Find Hold-Expired Entries (clamped)": { "main": [[{ "node": "Mint Token", "type": "main", "index": 0 }]] },
    "Mint Token": { "main": [[{ "node": "Send Delivery Email", "type": "main", "index": 0 }]] },
    "Send Delivery Email": { "main": [[{ "node": "Mark Released", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
