workflows/13-bounce-ooo-processor.json
{
  "name": "Circle of Care - 13 - Bounce-OOO Processor",
  "nodes": [
    {
      "parameters": {},
      "id": "13000001-0000-4000-8000-000000000001",
      "name": "Start (post-send)",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-1400, 0]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.bounce_type }}", "rightValue": "hard_typo", "operator": { "type": "string", "operation": "equals" } }] }, "outputKey": "hard_typo" },
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.bounce_type }}", "rightValue": "hard_no_typo", "operator": { "type": "string", "operation": "equals" } }] }, "outputKey": "hard_no_typo" },
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.bounce_type }}", "rightValue": "soft", "operator": { "type": "string", "operation": "equals" } }] }, "outputKey": "soft" },
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.bounce_type }}", "rightValue": "ooo", "operator": { "type": "string", "operation": "equals" } }] }, "outputKey": "ooo" },
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.bounce_type }}", "rightValue": "complaint", "operator": { "type": "string", "operation": "equals" } }] }, "outputKey": "complaint" }
          ]
        },
        "options": {}
      },
      "id": "13000001-0000-4000-8000-000000000002",
      "name": "Bounce Type Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [-1180, 0]
    },
    {
      "parameters": {
        "jsCode": "// Known-typo, defined: fixed lookup table only, no model guessing.\nconst LOOKUP = { 'gamil.com': 'gmail.com', 'outlok.com': 'outlook.com', 'yahooo.com': 'yahoo.com', 'hotmial.com': 'hotmail.com' };\nconst [, domain] = String($json.email).split('@');\nconst fixed = LOOKUP[String(domain).toLowerCase()];\nif (!fixed) return [{ json: { ...$json, corrected: false } }];\n\nconst fs = require('fs');\nconst path = require('path');\nconst correctedEmail = $json.email.split('@')[0] + '@' + fixed;\n\nlet corrections = [];\nconst correctionPath = path.join('Working', $json.project_prefix, 'ai_corrected_contacts.json');\ntry { corrections = JSON.parse(fs.readFileSync(correctionPath, 'utf8')); } catch (e) {}\ncorrections.push({ contact_hash: $json.contact_hash, original_email: $json.email, corrected_email: correctedEmail, corrected_at: new Date().toISOString() });\nfs.writeFileSync(correctionPath, JSON.stringify(corrections, null, 2), 'utf8');\n// contacts.json itself stays untouched -- audit original preserved.\n\nreturn [{ json: { ...$json, corrected: true, corrected_email: correctedEmail, resend_once: true } }];\n"
      },
      "id": "13000001-0000-4000-8000-000000000003",
      "name": "Correct Known Typo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-960, -280]
    },
    {
      "parameters": {
        "jsCode": "// Shared escalation chain: search org site for one official address,\n// send once; fails, one further address, send once; fails, stop and\n// suppress. Used by hard_no_typo AND ooo-without-alternate.\n\nconst attempt = $json.escalation_attempt || 0;\n\nif (attempt >= 2) {\n  return [{ json: { ...$json, escalation_exhausted: true } }];\n}\n\n// In production this calls the same contact-research pattern (06) to\n// find an official address; represented here as the escalation state\n// machine, not a duplicated research implementation.\nreturn [{ json: { ...$json, escalation_attempt: attempt + 1, escalation_exhausted: false } }];\n"
      },
      "id": "13000001-0000-4000-8000-000000000004",
      "name": "Official-Address Escalation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-960, -140]
    },
    {
      "parameters": {},
      "id": "13000001-0000-4000-8000-000000000005",
      "name": "Soft Bounce (no retry, log only)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-960, 0]
    },
    {
      "parameters": {
        "jsCode": "// OOO circuit breaker: alternate-address resend fires at MOST ONCE per\n// original send. If the reply provides no alternate, or the alternate\n// itself fails, this falls into the SAME bounded escalation chain --\n// never repeats discovery. Discovered alternates are NEVER promoted to\n// tracked contacts (A8/B8) -- the loop-prevention mechanism.\n\nconst alreadyAttemptedOnce = $json.ooo_alternate_attempted === true;\nif (alreadyAttemptedOnce) {\n  return [{ json: { ...$json, route: 'escalation' } }]; // falls to the shared chain, no re-discovery\n}\n\nconst alternate = $json.parsed_alternate_email || null;\nif (alternate) {\n  return [{ json: { ...$json, route: 'resend_once', target_email: alternate, ooo_alternate_attempted: true } }];\n}\nreturn [{ json: { ...$json, route: 'escalation' } }];\n"
      },
      "id": "13000001-0000-4000-8000-000000000006",
      "name": "OOO Circuit Breaker",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-960, 140]
    },
    {
      "parameters": {
        "jsCode": "// Complaint or exhausted escalation -> Global DNC, automatic, no review.\nconst crypto = require('crypto');\nconst fs = require('fs');\nconst path = require('path');\n\nconst normalized = String($json.email).toLowerCase().trim().replace(/\\+.*@/, '@');\nconst hash = crypto.createHash('sha256').update(normalized).digest('hex');\n\nconst dncPath = path.join('Shared', 'global_dnc.txt');\nlet existing = [];\ntry { existing = fs.readFileSync(dncPath, 'utf8').split('\\n').filter(Boolean); } catch (e) {}\nif (!existing.includes(hash)) {\n  fs.appendFileSync(dncPath, hash + '\\n', 'utf8');\n}\n\nreturn [{ json: { ...$json, dnc_written: true } }];\n"
      },
      "id": "13000001-0000-4000-8000-000000000007",
      "name": "Write Global DNC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-960, 280],
      "notes": "This is a code path -- production routing writes through the centralized serialized workflow (B7), not directly, same as every other project workflow."
    }
  ],
  "connections": {
    "Start (post-send)": { "main": [[{ "node": "Bounce Type Switch", "type": "main", "index": 0 }]] },
    "Bounce Type Switch": {
      "main": [
        [{ "node": "Correct Known Typo", "type": "main", "index": 0 }],
        [{ "node": "Official-Address Escalation", "type": "main", "index": 0 }],
        [{ "node": "Soft Bounce (no retry, log only)", "type": "main", "index": 0 }],
        [{ "node": "OOO Circuit Breaker", "type": "main", "index": 0 }],
        [{ "node": "Write Global DNC", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
