workflows/14-unsubscribe-endpoint.json
{
  "id": "4315d761-ec00-42b9-9885-876dd7c37bcb",
  "name": "Circle of Care - 14 - Unsubscribe Endpoint",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "unsubscribe-prod",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "14000001-0000-4000-8000-000000000001",
      "name": "Unsubscribe Webhook (static path)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1000, 0]
    },
    {
      "parameters": {
        "jsCode": "const email = $json.query && $json.query.e;\nif (!email || !/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email)) {\n  return [{ json: { valid: false } }];\n}\nreturn [{ json: { valid: true, email } }];\n"
      },
      "id": "14000001-0000-4000-8000-000000000002",
      "name": "Validate Query Param",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-780, 0]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "You have been unsubscribed.",
        "options": { "responseCode": 200 }
      },
      "id": "14000001-0000-4000-8000-000000000003",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [-560, -100]
    },
    {
      "parameters": {
        "jsCode": "// Unsubscribe is honored automatically and globally -- straight to\n// Global DNC via the centralized write workflow (A7). Same sender\n// identity everywhere means unsubscribe anywhere is unsubscribe\n// everywhere. This node represents the hand-off to that centralized,\n// serialized writer -- it never writes global_dnc.txt directly itself.\n\nconst crypto = require('crypto');\nconst normalized = String($json.email).toLowerCase().trim().replace(/\\+.*@/, '@');\nconst hash = crypto.createHash('sha256').update(normalized).digest('hex');\nreturn [{ json: { hash, source: 'unsubscribe_endpoint', requested_at: new Date().toISOString() } }];\n"
      },
      "id": "14000001-0000-4000-8000-000000000004",
      "name": "Prepare DNC Write Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-560, 100]
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "value": "PLACEHOLDER_DNC_WRITER_WORKFLOW_ID", "mode": "list" },
        "workflowInputs": { "mappingMode": "defineBelow", "value": { "hash": "={{ $json.hash }}" } },
        "options": { "waitForSubWorkflow": true }
      },
      "id": "14000001-0000-4000-8000-000000000005",
      "name": "Hand Off to Centralized DNC Writer",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [-340, 100]
    }
  ],
  "connections": {
    "Unsubscribe Webhook (static path)": { "main": [[{ "node": "Validate Query Param", "type": "main", "index": 0 }]] },
    "Validate Query Param": { "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }, { "node": "Prepare DNC Write Request", "type": "main", "index": 0 }]] },
    "Prepare DNC Write Request": { "main": [[{ "node": "Hand Off to Centralized DNC Writer", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
