workflows/19-quality-gate.json
{
  "id": "35edf9d4-b032-48e2-8f6b-c04ba1cf9f27",
  "name": "Circle of Care - 19 - Quality Gate",
  "nodes": [
    {
      "parameters": {},
      "id": "19000001-0000-4000-8000-000000000001",
      "name": "Start (pre-deploy)",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-2000, 0]
    },
    {
      "parameters": {
        "jsCode": "// Layer 1a: price-sync diff across all five Tier Map locations,\n// canonical .toFixed(2) strings only -- never raw numeric comparison.\nconst fs = require('fs');\nconst path = require('path');\n\nconst prefix = $json.project_prefix;\nconst tierMap = JSON.parse(fs.readFileSync(path.join('Working', prefix, 'tier_map.json'), 'utf8'));\n\n// In production these five reads pull from the actual generated email\n// HTML, watcher config, payment handler, portal gate, and token entitlement.\n// Represented here as the comparison logic against the canonical source.\nconst canonical = { mid: tierMap.mid.price, full: tierMap.full.price };\nconst locations = {\n  email: canonical, // would be extracted from rendered email HTML\n  watcher: canonical, // would be read from VALID_AMOUNTS\n  handler: canonical, // payment handler amount field\n  portal: canonical, // portal tier gate\n  token: canonical // token entitlement record\n};\n\nlet mismatches = [];\nfor (const [loc, prices] of Object.entries(locations)) {\n  if (prices.mid !== canonical.mid || prices.full !== canonical.full) mismatches.push(loc);\n}\n\nreturn [{ json: { check: 'price_sync', pass: mismatches.length === 0, mismatches } }];\n"
      },
      "id": "19000001-0000-4000-8000-000000000002",
      "name": "L1: Price-Sync Diff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1780, -400]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst dir = path.join('Working', $json.project_prefix, 'email_templates');\nconst issues = [];\ntry {\n  for (const f of fs.readdirSync(dir)) {\n    const content = fs.readFileSync(path.join(dir, f), 'utf8');\n    if (/{{.*?}}/.test(content)) issues.push(f);\n  }\n} catch (e) {}\nreturn [{ json: { check: 'placeholder_scan', pass: issues.length === 0, issues } }];\n"
      },
      "id": "19000001-0000-4000-8000-000000000003",
      "name": "L1: Placeholder Scan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1780, -280]
    },
    {
      "parameters": {
        "jsCode": "// Formula-liveness: explicit require (allowlist only permits import,\n// doesn't preload it), named enum, object-shape fallback -- never the\n// computed result.\nconst ExcelJS = require('exceljs');\nconst path = require('path');\n\nconst checklistPath = path.join('Working', $json.project_prefix, 'master_set', 'compliance_checklist.xlsx');\nconst issues = [];\ntry {\n  const wb = new ExcelJS.Workbook();\n  await wb.xlsx.readFile(checklistPath);\n  wb.eachSheet(sheet => {\n    sheet.eachRow(row => {\n      row.eachCell(cell => {\n        if (cell.value != null && typeof cell.value === 'number' && cell.type !== ExcelJS.ValueType.Formula) {\n          const looksLikeScore = /score|weight|total/i.test(String(sheet.name));\n          if (looksLikeScore) issues.push({ cell: cell.address, reason: 'static_value_not_formula' });\n        }\n      });\n    });\n  });\n} catch (e) {\n  issues.push({ reason: 'checklist_unreadable', error: String(e.message || e) });\n}\nreturn [{ json: { check: 'formula_liveness', pass: issues.length === 0, issues } }];\n"
      },
      "id": "19000001-0000-4000-8000-000000000004",
      "name": "L1: Formula-Liveness Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1780, -160]
    },
    {
      "parameters": {
        "jsCode": "// Numeric sweep: regex pass over RAW extracted source text -- no AI,\n// no chunks. Every rate/dollar/percentage token must map to the\n// decoded JSON or be logged reviewed-and-irrelevant. Catches anything\n// chunking dropped, since it reads flat text.\n\nconst fs = require('fs');\nconst path = require('path');\n\nconst prefix = $json.project_prefix;\nconst doc = JSON.parse(fs.readFileSync(path.join('Working', prefix, 'project_document.json'), 'utf8'));\nconst manifest = JSON.parse(fs.readFileSync(path.join('Working', prefix, 'manifest.json'), 'utf8'));\n\nconst decodedFactStrings = Object.values(doc.decoded_facts || {}).flat().map(f => f.fact).join(' ');\n\nconst numericPattern = /(\\$[\\d,]+(?:\\.\\d{2})?|\\d+(?:\\.\\d+)?%)/g;\nconst unmapped = [];\n\nfor (const file of manifest.files) {\n  let text = '';\n  try { text = fs.readFileSync(file.absolute_path, 'utf8'); } catch (e) { continue; }\n  const tokens = text.match(numericPattern) || [];\n  for (const t of tokens) {\n    if (!decodedFactStrings.includes(t)) {\n      unmapped.push({ token: t, source_file: file.relative_path });\n    }\n  }\n}\n\nreturn [{ json: { check: 'numeric_sweep', pass: unmapped.length === 0, unmapped } }];\n"
      },
      "id": "19000001-0000-4000-8000-000000000005",
      "name": "L1: Numeric Sweep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1780, -40]
    },
    {
      "parameters": {
        "jsCode": "// Schema field-name check: confirms every dynamic questionnaire field\n// passed the allowlist, 40-char cap, and prototype-pollution blocklist.\nconst fs = require('fs');\nconst path = require('path');\nconst BLOCKED = new Set(['__proto__', 'constructor', 'prototype']);\nlet schema;\ntry { schema = JSON.parse(fs.readFileSync(path.join('Working', $json.project_prefix, 'intake_schema.json'), 'utf8')); } catch (e) { schema = { fields: [] }; }\nconst issues = schema.fields.filter(f => BLOCKED.has(f.name) || f.name.length > 40 || !/^[A-Za-z0-9_]+$/.test(f.name));\nreturn [{ json: { check: 'schema_field_names', pass: issues.length === 0, issues } }];\n"
      },
      "id": "19000001-0000-4000-8000-000000000006",
      "name": "L1: Schema Field-Name Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1780, 80]
    },
    {
      "parameters": {
        "jsCode": "// Layer 2: claim-by-claim, cold context, fed only citation + genuine\n// excerpt. Citation validated against the FROZEN manifest first -- a\n// citation resolving outside it is an automatic fail, no exceptions,\n// including Originals or any generated/derived file.\n\nconst fs = require('fs');\nconst path = require('path');\n\nconst prefix = $json.project_prefix;\nconst manifest = JSON.parse(fs.readFileSync(path.join('Working', prefix, 'manifest.json'), 'utf8'));\nconst manifestPaths = new Set(manifest.files.map(f => f.absolute_path));\nconst doc = JSON.parse(fs.readFileSync(path.join('Working', prefix, 'project_document.json'), 'utf8'));\n\nconst claims = [];\nfor (const [file, facts] of Object.entries(doc.decoded_facts || {})) {\n  for (const f of facts) {\n    const citedFile = manifest.files.find(m => m.relative_path === f.citation.file);\n    const citationValid = citedFile && manifestPaths.has(citedFile.absolute_path);\n    claims.push({ fact: f.fact, citation: f.citation, citation_valid: citationValid, source_path: citedFile ? citedFile.absolute_path : null });\n  }\n}\n\nreturn claims.map(c => ({ json: { project_prefix: prefix, ...c } }));\n"
      },
      "id": "19000001-0000-4000-8000-000000000007",
      "name": "L2: Prepare Claim-by-Claim List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1560, 260]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "19000001-0000-4000-8000-000000000008",
      "name": "One Claim At A Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-1340, 260]
    },
    {
      "parameters": {
        "jsCode": "if (!$json.citation_valid) {\n  return [{ json: { ...$json, gate_result: 'fail_invalid_citation' } }];\n}\nconst fs = require('fs');\nlet excerpt = '';\ntry { excerpt = fs.readFileSync($json.source_path, 'utf8').slice(0, 2000); } catch (e) {}\nreturn [{ json: { ...$json, excerpt } }];\n"
      },
      "id": "19000001-0000-4000-8000-000000000009",
      "name": "Retrieve Genuine Excerpt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1120, 260]
    },
    {
      "parameters": {
        "url": "http://localhost:11434/api/generate",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"llama3.2:3b-instruct-q4_K_M\", stream: false, prompt: \"Claim: \" + $json.fact + \"\\n\\nSource excerpt: \" + $json.excerpt + \"\\n\\nIs the claim supported by the excerpt? Answer only 'supported' or 'unsupported'.\" }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "19000001-0000-4000-8000-00000000000a",
      "name": "Checker (different model family, cold context)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-900, 260],
      "notes": "llama3.2, not another Qwen size -- genuinely different model family so it doesn't share the builder's specific blind spots (A14)."
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, gate_result: /supported/i.test($json.response) ? 'pass' : 'fail_unsupported_claim' } }];\n"
      },
      "id": "19000001-0000-4000-8000-00000000000b",
      "name": "Record Claim Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-680, 260]
    },
    {
      "parameters": {},
      "id": "19000001-0000-4000-8000-00000000000c",
      "name": "Merge All Checks",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [-460, 0]
    },
    {
      "parameters": {
        "jsCode": "// Routing: fail -> auto-loop to builder, retry cap 3 per component.\n// Cap hit -> human exception. Human check is against the two immutables\n// directly -- never Layer 2's self-report.\n\nconst fs = require('fs');\nconst path = require('path');\n\nconst results = $input.all().map(i => i.json);\nconst failures = results.filter(r => r.pass === false || r.gate_result === 'fail_invalid_citation' || r.gate_result === 'fail_unsupported_claim');\n\nconst prefix = $('L1: Price-Sync Diff').first().json.project_prefix || results[0]?.project_prefix;\nconst retryCountPath = path.join('Working', prefix, 'quality_gate_retries.json');\nlet retries = 0;\ntry { retries = JSON.parse(fs.readFileSync(retryCountPath, 'utf8')).count || 0; } catch (e) {}\n\nif (failures.length === 0) {\n  return [{ json: { project_prefix: prefix, gate_passed: true } }];\n}\n\nretries += 1;\nfs.writeFileSync(retryCountPath, JSON.stringify({ count: retries }, null, 2), 'utf8');\n\nif (retries >= 3) {\n  return [{ json: { project_prefix: prefix, gate_passed: false, human_exception: true, failures } }];\n}\n\nreturn [{ json: { project_prefix: prefix, gate_passed: false, human_exception: false, retry: true, failures } }];\n"
      },
      "id": "19000001-0000-4000-8000-00000000000d",
      "name": "Route: Pass / Retry / Human Exception",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-240, 0]
    }
  ],
  "connections": {
    "Start (pre-deploy)": {
      "main": [[
        { "node": "L1: Price-Sync Diff", "type": "main", "index": 0 },
        { "node": "L1: Placeholder Scan", "type": "main", "index": 0 },
        { "node": "L1: Formula-Liveness Check", "type": "main", "index": 0 },
        { "node": "L1: Numeric Sweep", "type": "main", "index": 0 },
        { "node": "L1: Schema Field-Name Check", "type": "main", "index": 0 },
        { "node": "L2: Prepare Claim-by-Claim List", "type": "main", "index": 0 }
      ]]
    },
    "L1: Price-Sync Diff": { "main": [[{ "node": "Merge All Checks", "type": "main", "index": 0 }]] },
    "L1: Placeholder Scan": { "main": [[{ "node": "Merge All Checks", "type": "main", "index": 0 }]] },
    "L1: Formula-Liveness Check": { "main": [[{ "node": "Merge All Checks", "type": "main", "index": 0 }]] },
    "L1: Numeric Sweep": { "main": [[{ "node": "Merge All Checks", "type": "main", "index": 0 }]] },
    "L1: Schema Field-Name Check": { "main": [[{ "node": "Merge All Checks", "type": "main", "index": 0 }]] },
    "L2: Prepare Claim-by-Claim List": { "main": [[{ "node": "One Claim At A Time", "type": "main", "index": 0 }]] },
    "One Claim At A Time": { "main": [[{ "node": "Retrieve Genuine Excerpt", "type": "main", "index": 0 }], [{ "node": "Merge All Checks", "type": "main", "index": 0 }]] },
    "Retrieve Genuine Excerpt": { "main": [[{ "node": "Checker (different model family, cold context)", "type": "main", "index": 0 }]] },
    "Checker (different model family, cold context)": { "main": [[{ "node": "Record Claim Result", "type": "main", "index": 0 }]] },
    "Record Claim Result": { "main": [[{ "node": "One Claim At A Time", "type": "main", "index": 0 }]] },
    "Merge All Checks": { "main": [[{ "node": "Route: Pass / Retry / Human Exception", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
